<div class="dpt dpt-detail" ng-controller="DepartmentDetailCtrl">

    <div class="dpt-header text-center cb">{{data.label}}站运行详情</div>

    <div class="box">
        <div class="box-header bd-green">
            <p class="title text-center cred">基础信息</p>
            <span class="divider bg-green"></span>
        </div>
        <div class="clearfix box-content">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-lg-3">
                    <img src="img/item_icon.png" width="160">
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3 info ">
                    <p class="item dash-border-right dash-border-bottom ">站点名称：<span class="cb">{{data.label}}</span>
                    </p>
                    <p class="item dash-border-right dash-border-bottom ">站点编号：<span class="cb">{{data.num}}</span>
                    </p>
                    <p class="item dash-border-right dash-border-bottom ">站点管理员：<span class="cb">{{data.manager}}</span>
                    </p>
                    <p class="item dash-border-right dash-border-bottom ">站点乡镇：<span
                            class="cb">{{data.distrinct}}</span>
                    </p>
                    <p class="item dash-border-right dash-border-bottom ">经度：<span class="cb">{{data.longitude}}</span>
                    </p>
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3 info">
                    <p class="item dash-border-bottom">站点类型：<span class="cb">{{data.type}}</span></p>
                    <p class="item dash-border-bottom">投产时间：<span class="cb">{{data.toucan}}</span></p>
                    <p class="item dash-border-bottom">联系电话：<span class="cb">{{data.tel}}</span></p>
                    <p class="item dash-border-bottom">所属村：<span class="cb">{{data.twon}}</span></p>
                    <p class="item dash-border-bottom">纬度：<span class="cb">{{data.latitude}}</span></p>
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3">

                </div>
            </div>
        </div>

    </div>

    <div class="box">
        <div class="box-header bd-blue">
            <p class="title text-center cred">用电量</p>
            <span class="divider bg-blue"></span>
        </div>
        <div class="box-filter row hidden">
            <div class="col-xs-6 col-sm-6 col-lg-6">
                left
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6">
                right
            </div>
        </div>
        <div class="clearfix box-content">
            <div class="panel panel-default">
                <div class="panel-heading font-bold title cb">用电数据曲线</div>
                <div class="panel-body">
                    <highchart config="chartElectric"></highchart>
                </div>
            </div>
        </div>

    </div>

    <div class="box">
        <div class="box-header bd-green">
            <p class="title text-center cred">污水处理量</p>
            <span class="divider bg-green"></span>
        </div>
        <div class="box-filter row hidden">
            <div class="col-xs-6 col-sm-6 col-lg-6">
                left
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6">
                right
            </div>
        </div>
        <div class="clearfix box-content">
            <div class="panel panel-default">
                <div class="panel-heading font-bold title">用电数据曲线</div>
                <div class="panel-body">
                    <highchart config="chartHandlerWater"></highchart>
                </div>
            </div>
        </div>

    </div>


    <div class="box">
        <div class="box-header bd-blue">
            <p class="title text-center cred">水质数据</p>
            <span class="divider bg-blue"></span>
        </div>
        <div class="box-filter row hidden">
            <div class="col-xs-6 col-sm-6 col-lg-6">
                left
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6">
                right
            </div>
        </div>
        <div class="clearfix box-content">
            <div class="panel panel-default">
                <div class="panel-heading font-bold title">水质数据曲线</div>
                <div class="panel-body">
                    <highchart config="chartWaterQ"></highchart>
                </div>
            </div>
        </div>

    </div>

    <div class="box">
        <div class="box-header bd-green">
            <p class="title text-center cred">巡检数据</p>
            <span class="divider bg-green"></span>
        </div>
        <div class="box-filter row hidden">
            <div class="col-xs-6 col-sm-6 col-lg-6">
                left
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6">
                right
            </div>
        </div>
        <div class="clearfix box-content">
            <div class="panel panel-default">
                <div class="panel-heading title">巡检数据表</div>
                <table st-table="rowCollectionBasic" class="table table-bordered table-striped tb-border">
                    <thead>
                    <tr>
                        <th>巡检时间</th>
                        <th>巡检人</th>
                        <th>电话</th>
                        <th>巡检内容</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="success" ng-repeat="row in walk" st-select-row="row">
                        <td>{{row.time}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.tel}}</td>
                        <td>{{row.content}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <div class="box">
        <div class="box-header bd-green">
            <p class="title text-center cred">视频监控</p>
            <span class="divider bg-green"></span>
        </div>
        <div class="box-filter row hidden">
            <div class="col-xs-6 col-sm-6 col-lg-6">
                left
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6">
                right
            </div>
        </div>
        <div class="clearfix box-content">
            <div class="panel panel-default">
                <div class="panel-heading title">照片采集表</div>
                <div class="row pd5">
                    <div class="col-xs-6 col-sm-6 col-lg-6">
                        <table st-table="rowCollectionBasic" class="table table-bordered table-striped tb-border">
                            <thead>
                            <tr>
                                <th>采集时间</th>
                                <th>照片编号</th>
                                <th>照片大小</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="success" ng-repeat="row in walk" st-select-row="row">
                                <td>{{row.time}}</td>
                                <td>{{row.name}}</td>
                                <td>{{row.tel}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-6">
                        <img src="img/item_icon.png" width="300" height="180">
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="box">
        <div class="box-header bd-green">
            <p class="title text-center cred">远程控制</p>
            <span class="divider bg-green"></span>
        </div>
        <div class="box-filter row hidden">
            <div class="col-xs-6 col-sm-6 col-lg-6">
                left
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6">
                right
            </div>
        </div>
        <div class="clearfix box-content">
            <div class="panel panel-default">
                <div class="panel-heading title">设备控制表</div>
                <table st-table="rowCollectionBasic" class="table table-bordered table-striped tb-border">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>型号</th>
                        <th>设备号</th>
                        <th>SIM卡</th>
                        <th>当前状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="success" ng-repeat="row in walk" st-select-row="row">
                        <td>{{row.time}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.tel}}</td>
                        <td>{{row.content}}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>